<div class="grid-container">
{% for post in postslist | reverse %}
<div class="grid-item">
	<!--<div class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}"> -->
		<img src="{{ post.data.featured_img }}" alt="{{ post.data.alt_text }}" width="400" height="400" />
		<div class="posts_date">
		<time datetime="{{ post.data.date | htmlDateString }}">{{ post.data.date | readableDate }}</time>
		</div>
		<a href="{{ post.url }}" class="postlist-link">
			{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		<div class="desc">
          {{ post.data.description }}
		</div>
		{# <time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time> #}
</div>
{% endfor %}
</div>